@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    flex-wrap: wrap !important;
    transition: all 0.5s;
    
}

body{
    margin: 0;
    padding: 0;
  
}
.container{
    max-width: 1140px;
    margin: 0 auto;
 }
 @media (max-width: 1199.98px) {
    .container {
      max-width: 960px;
    }
  }
  @media (max-width: 991.98px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (max-width: 767.98px) {
    .container {
      max-width: 540px;
      text-align: center;
    }
    
  }
  
  @media (max-width: 575.98px) {
    .container {
      max-width: 100%;
      padding: 0 15px;
    }
  }
:root {
    --color-hover: #565656;
    --color: #232323;
    --text:#777777;
    --bg: #EFEFEF;
    --bg1: #FFFFFF;
    --bg3: #1B2026;
    --bg4: #31363B;
    --bg5: #DCE8EB;
    --hong:#F7D9C4;
}

.boxhead{
    margin-bottom: 30px;
}
.boxhead .sub{
    color: var(--color-hover);
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.boxhead .title{
    color: var(--color);
    font-size: 60px;
    font-weight: 700;
}

@media (max-width: 575.98px) {
  .boxhead{
    margin-bottom: 30px;
}
.boxhead .sub{
    color: var(--color-hover);
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}
.boxhead .title{
    color: var(--color);
    font-size: 35px;
    font-weight: 700;
}

}
@media (max-width: 320.91px){
  .section1{
    padding-left:0 ;
    padding-right: 0;
  }
  .section2{
    padding-left:0 ;
    padding-right: 0;
  }
  .section3{
    padding-left:0 ;
    padding-right: 0;
  }
  .section4{
    padding-left:0 ;
    padding-right: 0;
  }
  .section5{
    padding-left:0 ;
    padding-right: 0;
  }
  .section6{
    padding-left:0 ;
    padding-right: 0;
  }
  .section7{
    padding-left:0 ;
    padding-right: 0;
  }
  .section8{
    padding-left:0 ;
    padding-right: 0;
  }
  .section9{
    padding-left:0 ;
    padding-right: 0;
  }
  .section10{
    padding-left:0 ;
    padding-right: 0;
  }
  .section11{
    padding-left:0 ;
    padding-right: 0;
  }
}